.tech-logos-container {
  width: 100%;
}

.tech-logo-box {
  width: 120px;
}

.tech-logo-container {
  display: inline-block;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 30px;
}

.tech-logo {
  text-align: center;
  width: 60%;
  transition: width .1s ease-in;
  cursor: pointer;
  display: flex;
  align-items:baseline;
  margin:auto;
}

.tech-logo:hover {
  width: 100%;
}
