.tech-logos-container {
  width: 100%;
}

.tech-logo-box {
  width: 120px;
}

.tech-logo-container {
  display: inline-block;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
}

.tech-logo {
  text-align: center;
  width: 60%;
  transform: translateY(0);
  transition: all .1s ease-in;
  cursor: pointer;
  display: flex;
  align-items:baseline;
  margin:auto;
}

.tech-logo:hover {
  width: 100%;
  transform: translateY(-15px);
}

.tech-main-title {
  margin-bottom: 40px;
}

.tech-section {
  margin-top: 20px;
  margin-bottom: 60px;
}

.tech-title {
  font-weight: 500;
}
